html {
  font: normal 24px Helvetica, Arial, sans-serif;
}

header, h1 {
  background-color: blue;
  color: white;
}

header {
  padding: 1rem;
  text-align: center;
}

nav {
  background-color: cyan;
}

ul {
  list-style-type: none;
}

li {
  text-align: center;
  width: auto;
}

a {
  box-sizing: border-box;
  display: inline-block;
  padding: 1rem 0;
  text-decoration: none;
  width: 100%;
}

a:focus,
a:hover {
  background-color: blue;
  color: yellow;
}

article,
aside {
  padding: 0 1rem;
}

aside {
  background-color: lightgreen;
}

#aside-3 {
  background-color: pink;
}

#article-2 {
  background-color: skyblue;
}

p {
  margin: 1rem 0;
}

footer {
  background-color: yellow;
}

#copyright {
  margin: 0 1rem;
}

#logo {
  background-color: orange;
}

/* MY ADDITIONAL CSS */

nav > ul {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin: 0;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

#article-1 {
  /* order: 1; */
  grid-row: 1 ;
  grid-column: 2 / 4;
}

#article-2 {
  /* order: 4; */
}

#aside-1 {
  /* order: 0; */
  grid-row: 0 / 1;
  grid-column: 0;
}

#aside-2 {
  /* order: 2; */
}

#aside-3 {
  /* order: 3; */
}