body {
  font-family: sans-serif;
  background-image: url(bg_body.gif);
}

.width-container {
  max-width: 1000px;
  margin: 0 auto;
}

#spacedesign-logo {
  margin: 0 auto;
}

header {
  align-items: center;
}

main {
  background-color: white;
}

footer {
  background-color: grey;
}

#footer-icon-container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  width: 50%;
}